@import 'ui/colors.css';

.championRow {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  margin: 1rem 10rem;
  background-color: var(--blue-blue);
  border-radius: 5px;
}

.lowWinRate {
  background-color: var(--pink-pink);
}

.lowWinRate:hover {
  background-color: var(--dark-pink);
}

.middleWinRate {
  background-color: var(--blue-blue);
}

.middleWinRate:hover {
  background-color: var(--dark-blue);
}

.highWinRate {
  background-color: var(--green-green);
}

.highWinRate:hover {
  background-color: var(--dark-green);
}

.championName {
  width: 30%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
