.iconContainer {
  margin: 10px;
}

.iconInlineContainer {
  margin: 0px 5px;
  display: inline;
}

.medium {
  width: 100px;
  border-radius: 50px;
}

.small {
  width: 60px;
  border-radius: 30px;
}

.inline {
  height: 1rem;
  border-style: solid;
  vertical-align: middle;
  border-radius: 3px;
}
