:root {
  --blue-blue: #a5caef;
  --dark-blue: #7ab1e7;
  --purple-blue: #a5a5ef;
  --green-blue: #a5efee;
  --pink-pink: #efa5ca;
  --dark-pink: #e77ab1;
  --green-green: #caefa5;
  --dark-green: #b0e77a;
  --off-white: #fefefe;
}
