@import 'ui/base/colors.css';

.matchRow {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  margin: 1rem 10rem;
  background-color: var(--blue-blue);
  border-radius: 5px;
}

.teams {
  display: flex;
}

.teamContainer {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
